modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BCDIgrotSkuwwqS7rYnpCPMXpJlWJ0TzkyDBUNvd0pz5I05eCjtgLFUoTn3GBtSHgHm6FLExHEM-84gJfyuJknw"
VAPID_PRIVATE_KEY = "S_M7rpG0NzLdJmPOr8YsCicuPUVQLX7b2033ivj5AZU"

[nix]
channel = "stable-25_05"
